.lm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.lm a{
  padding: 8px 16px;
  background-color: var(--primary);
  font-size: 16px;
  border-radius: 8px;
  color: var(--white-1);
}