.shipping{
  width: 100%;
  min-height: 100dvh;
  padding: 64px 16px;
  font-family: "montserrat";
}

.shipping__container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.shipping__box{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 8px;
  justify-content: center;
}

.shipping-item{
  padding: 4px 8px;
  border-radius: 8px;
  background-color: var(--white-1);
  display: grid;
  grid-template-columns: 1fr 100px;
  align-items: center;
  gap: 8px;
}

.shipping-item__form{
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.shipping-item__form input {
  width: 56px;
  padding: 4px;
  border-radius: 4px;
  border: 2px solid var(--white-3);
  background-color: var(--white-1);
}

.shipping-item__form button {
  width: 40px;
  background: var(--white-2);
  color: var(--black-2);
  border: none;
  padding: 4px;
  border-radius: 4px;
}

.shipping-item__form button.modified{
  background-color: var(--primary);
  color: var(--white-1);
}