.comment{
  display: grid;
  grid-template-columns: 60px 1fr;
  padding: 8px;
  background-color: var(--white-1);
  border-radius: 8px;
  gap: 16px;
}

.comment__imgbox{
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.comment__imgbox > svg{
  width: 50px;
  height: 50px;
}

.comment__textbox{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.comment__title{
  font-size: 20px;
  font-weight: 600;
}