.carrousel__imgbox{
  width: 100%;
  max-width: 550px;
  position: relative;
  display: grid;
  place-content: center;
  z-index: 1;
}

.carrousel__imgs__container{
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 16px;

  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.carrousel__imgs__container::-webkit-scrollbar{
  display: none;
}


.carrousel__imgbox img {
  flex: 0 0 100%;
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  scroll-snap-align: center;
  height: 100%;
  max-height: 500px;
}

.carrousel__imgs__actions{
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
}

.carrousel__imgs__actions button {
  padding: 8px;
  border: none;
  border-radius: 32px;
  background-color: #00000093;
  width: 40px;
  height: 40px;
  color: var(--primary);
}

.carrousel__imgs__actions button:hover{
  background-color: #ffffffa0;
  color: var(--black-1);
}