.modal__container{
  width: 100%;
  min-height: calc(100dvh - 60px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
}

.modal{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 16px;
  height: 90%;
  border-radius: 8px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.modal__textbox{
  width: 100%;
  max-width: 550px;
  font-family: "montserrat";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal__target{
  padding: 8px 24px;
  border-radius: 8px;
  background: var(--silver-gradient);
  align-self: flex-start;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white-1);
  font-size: 12px;
}

.modal__title{
  font-family: "cinzel";
  font-size: 48px;
}

.modal__info{
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal__info>span{
  flex: 0 0 200px;
}


.modal__actions{
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.modal__actions button{
  flex: 1 0 100px;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  justify-content: center;
  background-color: var(--white-1);
}

.modal__actions button:first-child{
  background: var(--gold-gradient);
  color: var(--white-1);
}

.comments{
  margin-top: 32px;
  border-top: 2px solid var(--black-1);
}

@media (width <= 800px) {
  .modal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


.comments{
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 0;
}

.comments__title{
  font-weight: 500;
  font-size: 30px;
}

.comments__container{
  display: flex;
  flex-direction: column;
  gap: 8px;
}



.comments__form{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.comments__form textarea{
  resize: none;
  border: 2px solid var(--white-2);
  border-radius: 8px;
  height: 150px;
  padding: 16px;
  outline: none;
  font-family: "montserrat";
  font-weight: 600;
}

.comments__form button{
  background-color: var(--primary);
  padding: 8px;
  border: none;
  border-radius: 8px;
  color: var(--white-1);
}

.comments .message{
  text-align: center;
  font-weight: 700;
}

