.targets{
  padding: 128px 16px;
  font-family: "montserrat";
  background: inherit;
}

.targets__container{
  width: 100%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.targets__box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.targets__button{
  padding: 16px;
  border: none;
  background: var(--gold-gradient-hover);
  color: var(--white-1);
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}