.pt{
  height: 100%;
  width: 100%;
  min-height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
}

.pt .filter__selected-value{
  padding: 16px;
}


.pt__form{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.pt__title{
  font-family: "cinzel";
  font-size: 35px;
  text-align: center;
}

.pt__inputs{
  gap: 8px;
  width: 100%;
}

.pt__inputs span{
  font-size: 16px;
  font-weight: 700;
}

.pt__inputs input{
  font-family: "montserrat";
  font-weight: 600;
  border: none;
  outline: none;
  background-color: var(--white-1);
  border-radius: 8px;
  width: 100%;
  padding: 16px;
}

.pt__inputs textarea {
  resize: none;
  grid-column: 1/3;
  height: 200px;
}

.pt__button{
  background: var(--gold-gradient);
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  color: var(--white-1);
}

.pt__section{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.pt__subtitle{
  font-family: "montserrat";
  font-size: 20px;
}