.pf{
  height: 100%;
  width: 100%;
  min-height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
}

.pf .filter__selected-value{
  padding: 16px;
}


.pf__form{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.pf__title{
  font-family: "cinzel";
  font-size: 35px;
  text-align: center;
}

.pf__inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 8px;
  width: 100%;
}

.pf__img-input{
  grid-column: 1/3;
  width: 100%;
}

.pf__inputs label{
  display: flex;
  padding: 40px;
  border: 4px dashed var(--white-2);
  border-radius: 8px;
  font-family: "montserrat";
  font-weight: 500;
  text-align: center;
  display: grid;
  place-content: center;
  flex-direction: column;
  font-size: 20px;
  gap: 8px;
  background-color: var(--white-1);
}

.pf__inputs span{
  font-size: 16px;
  font-weight: 700;
}

.pf__inputs input,
.pf__inputs textarea {
  font-family: "montserrat";
  font-weight: 600;
  border: none;
  outline: none;
  background-color: var(--white-1);
  border-radius: 8px;
  width: 100%;
  padding: 16px;

}

.pf__inputs textarea {
  resize: none;
  grid-column: 1/3;
  height: 200px;
}

.pf__button{
  background: var(--gold-gradient);
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

.pf__section{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.pf__subtitle{
  font-family: "montserrat";
  font-size: 20px;
}

.pf__input.span{
  grid-column: 1/3;
}

.pf__img-input{
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.pf__img-input input {
  display: none;
}

.pf__preview-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
}

.pf__preview-container img {
  width: 100%;
  border-radius: 8px;
  object-fit: contain;
}