.filter{
  flex: 1 0 150px;
  min-width: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  font-family: "montserrat";
  font-weight: 600;
  font-size: 14px;
  color: var(--black-3);
}

.filter__selected-value{
  background: var(--white-1);
  border-radius: 8px;
  padding: 16px;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filter ul{
  position: absolute;
  top: 55px;
  right: 0;
  min-width: 100px;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 4px;
  background-color: var(--white-bg);
  border: 2px solid var(--white-3);
  padding: 4px;
  border-radius: 8px;
  font-size: 14px;
  
  max-height: 350px;
  overflow-y: auto;
}

.filter ul.active{
  display: flex;
}

.filter li {
  padding: 8px;
}

.filter li:hover {
  background: var(--white-2);
  border-radius: 4px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}