.signin{
  height: 100%;
  width: 100%;
  min-height: calc(100dvh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 16px;
}

.signin__form{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0px 4px 8px 0px #0000001a;
}

.signin__title{
  font-family: "cinzel";
  font-size: 35px;
  text-align: center;
}

.signin__inputs{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 8px;
  width: 100%;
}

.signin__inputs input {
  font-family: "montserrat";
  font-weight: 600;
  padding: 16px;
  border: none;
  outline: none;
  background-color: var(--white-1);
  border-radius: 8px;
  width: 100%;
}

.signin__button{
  background: var(--gold-gradient);
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
}

.signin__section{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.signin__subtitle{
  font-family: "montserrat";
  font-size: 20px;
}

.signin__input.span{
  grid-column: 1/3;
}


.signin__form p{
  text-align: center;
  font-family: "montserrat";
}

.signin__form a {
  color: var(--primary);
  text-transform: uppercas;
}